@font-face 
{
    font-family:'opensans';
   src: url('OpenSans-Regular.ttf');
}
@font-face
{
  font-family:'nasalization';
  src: url('nasalization-rg.ttf');

}
.align
{
    display: flex;
}
header h1
{
    font-family: 'nasalization';
    font-size: 40px;
    color: #27d1ff;
    text-align: center;
    vertical-align: middle;
    margin: auto;
}
header
{
background-image: url('texture-header.jpg');
width: auto;
text-align: center;
vertical-align: middle;
margin: auto;
}
.navigation
{
    display: inline-block;
    margin: 0px;
    padding-right: 50px;
    background-color: #2e2f30;
    color: white;
    text-align: right;
    vertical-align: middle;

}
h2
{
    color: #e6e6e6;
    background-color: silver;
    text-align: center;
}
p
{
    font-size: 14px;
    font-family: 'opensans';
    padding:10px;
    width: 750px;
    vertical-align:middle;
    text-align: center;
    margin: auto;
}
body
{
    font-family: 'opensans';
    font-size: 14px;
    background-color: #f2f2f2;
}
a:hover
{
    background-color: #17c1ff;
}

footer
.image
{
    display: block;
    margin-left: auto;
    margin-right: auto;
}



table
{
    text-align: center;
    font-family: 'opensans';
    vertical-align:middle;
    margin: auto;
   height: 480px;
}
th
{
    background-color: skyblue;
}
form
{
    font-family: 'opensans';
    text-align: center;
    vertical-align: middle;
    margin: auto;
    width: 300px;
    border-color: #e6e6e6;
    border-style: solid;
    border: 2px;
    padding: 8px;
}
#name {width: 250px;}
#email {width: 250px;}
#text {width: 250px;}
#submit {width: 250px;}